/bin/
/downloads/
/develop-eggs/
/eggs/
/etc/
/parts/
/resources/nodenets
/resources/worlds
/resources/user-db.json
/resources/server-config.json
/.installed.cfg
*.pyc
/buildout.cfg
/var
/.idea
/.coverage
data_converters/experimental/
