/.idea/
/bin/
/downloads/
/develop-eggs/
/eggs/
/etc/
/parts/
/resources/nodenets
/resources/worlds
/resources/user-db.json
/.installed.cfg
*.pyc
/resources/server-config.json
/share/
/dist/
/include/
/lib/
.DS_Store
/config.ini
/.Python
.coverage
/htmlcov/
/src/
/*.sublime-project
/*.sublime-workspace
micropsi.log
/test-data/
pip-selfcheck.json
/cherrypy
/.pycharmvenv/
/.cache/
