beautifulsoup4==4.4.1
CherryPy==5.4.0
coloredlogs==6.0
coverage==4.0.3
cycler==0.10.0
matplotlib==2.0.2
mock==2.0.0
nose-parameterized==0.5.0
numpy==1.13.1
pbr==1.9.1
py==1.4.31
pycrypto==2.6.1
pyparsing==2.1.4
pytest==2.9.1
pytest-cov==2.2.1
python-dateutil==2.5.3
pytz==2016.4
scipy==0.17.1
six==1.10.0
Theano==0.8.2
waitress==0.9.0
WebOb==1.6.0
WebTest==2.0.21
Pillow==3.2.0
networkx==1.11
git+https://github.com/micropsi-industries/spock.git
tornado==4.4
