/*!
 * Additional styles for MicroPsi
 */

#screenshot0 {
    position: absolute;
    top: 0;
    left: 0;
}

#screenshot1 {
    position: absolute;
    top: 0;
    left: 0;
}

.editor_field {
    height: 500px;
    overflow: scroll;
}

.monitor_field {
    height: 330px;
    overflow: scroll;
}

.sectionbar {
  padding: 2px 4px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.sectionbar li {
  display: block;
  text-shadow: 0 1px 0 #ffffff;
}
.sectionbar .divider {
  padding: 0 5px;
  color: #999999;
}
.sectionbar .active a {
  color: #333333;
}

.sectionbar .navbar-form input,
.sectionbar .navbar-form select,
.sectionbar .navbar-form .radio,
.sectionbar .navbar-form .checkbox {
    margin-top: 0px;
}

.uneditable-input input[disabled] {
    background-color: #ffffff;
}

/** overwrite bottom margin for forms in modal dialogs: **/
.modal .form-horizontal {
  margin: 0;
}
.modal form legend {
  font-size: 120%;
}

.section {
    min-height: 20px;
    padding: 0px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.section-margin {
    margin-bottom: 20px;
}

.node-form-width {
    width: 200px;
    min-width: 200px;
}


/** condense forms in sections **/
.section .form-horizontal {
  padding: 0 5px;
  margin-right: 0;
}
.section .form-horizontal .table-condensed{
  width: 90%;
}
.section .form-horizontal .helptext{
  font-size: 11px;
}
.table-condensed td{
  vertical-align: top;
}
.section .form-horizontal label {
  font-size: 11px;
  font-weight: bold;
  line-height: 1em;
}
.section .form-horizontal input,
.section .form-horizontal select,
.section .form-horizontal textarea {
  padding: 1px 2px;
  height: auto;
  font-size: 13px;
  width: auto;
  border-width: 1px;
}

#node_slots ul, #node_gates ul {
  margin: 0 0 0 15px;
}

/**
  bootstrap notifications
**/

.notifications {
  position: fixed;
  z-index: 1050;
}

/* Positioning */
.notifications.top-right {
  right: 10px;
  top: 25px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.top-center{
  width: 400px;
  left: 50%;
  top: 10px;
  margin-left: -200px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  z-index: 9999;
  margin: 5px 0px;
}


/** side bar / form bar **/
.editor_field h4{
  padding: 1em;
  border-bottom: 1px solid #dedede;
  margin-bottom: 1em;
}
.table-condensed tr, .table-condensed td {
  padding: 1px 3px;
}
.controls .table-condensed {
  width:218px;
  border: 1px solid #ccc;
}
input.inplace, select.inplace{
  width: auto;
}
.table-condensed .inplace {
    max-width: 90px;
}
.modal-body form .buttons{
  display: none;  /** hide submit buttons in modal (modal footer bears the buttons) **/
}


/**
graphs
**/
#graph {
  width: 100%;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.line {
  fill: none;
  stroke-width: 1.5px;
}
