/*!
 * Additional styles for MicroPsi
 */

h3 {
  font-size: 18px;
  line-height: 27px;
}

.editor_field {
    height: 500px;
    overflow: scroll;
}

.monitor_field {
}

.monitor_list {
  margin: 10px 0 10px 55px;
  list-style-type: none;
}
.monitor_list input {display:inline;}
.monitor_list label {display:inline;}
.monitor_list li {padding: 2px 0;}
#monitor input[type="checkbox"] {margin: 0;}

#graph, #logs {
  overflow: auto;
  font-family: monospace;
  line-height: 1.1em;
  height: 400px;
}

.logentry {cursor: pointer; border: 1px solid transparent;}
.logentry:hover {background: #fff;}
.logentry.highlight { background: white; border: 1px solid #a8d1ff; }
.log_DEBUG {color: #1700FF;}
.log_INFO {color: #4b4b4b;}
.log_WARNING{color: #942628;}
.log_ERROR, .log_CRITICAL, .log_ERROR:hover, .log_CRITICAL:hover {
  background-color: #c22;
  color: white;
}

.monitor_action i { opacity: 0.5; }
.monitor_action:hover i { opacity: 1; }

.logentry{
  display:block;
  white-space: pre;
  font-size: 11px;
  line-height: 13px;
}

.contentbox {
  height: 100%;
  border: 1px solid #ccc;
}

.monitor_seperator{
  border-top: 2px solid #eee;
}

.section.multiple {
  padding: 0 10px 10px 10px;
}
.section.multiple h4 {
  margin: 10px 0px;
}

.sectionbar {
  padding: 2px 4px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.sectionbar li {
  display: block;
  text-shadow: 0 1px 0 #ffffff;
}
.sectionbar .divider {
  padding: 0 5px;
  color: #999999;
}
.sectionbar .active a {
  color: #333333;
}

.sectionbar .navbar-form input,
.sectionbar .navbar-form select,
.sectionbar .navbar-form .radio,
.sectionbar .navbar-form .checkbox {
    margin-top: 0px;
}

.uneditable-input input[disabled] {
    background-color: #ffffff;
}

/** overwrite bottom margin for forms in modal dialogs: **/
.modal .form-horizontal {
  margin: 0;
}
.modal form legend {
  font-size: 120%;
}

.section {
    min-height: 20px;
    padding: 0px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.section-margin {
    margin-bottom: 20px;
}

.node-form-width {
    width: 200px;
    min-width: 200px;
}


/** condense forms in sections **/
.section .form-horizontal {
  padding: 0 5px;
  margin-right: 0;
}
.section .form-horizontal .table-condensed{
  width: 90%;
}
.section .form-horizontal .helptext{
  font-size: 11px;
}
.table-condensed td{
  vertical-align: top;
}
.section .form-horizontal label {
  font-size: 11px;
  font-weight: bold;
  line-height: 1em;
}
.section .form-horizontal input,
.section .form-horizontal select,
.section .form-horizontal textarea {
  padding: 1px 2px;
  height: auto;
  font-size: 13px;
  width: auto;
  border-width: 1px;
}

#node_slots ul, #node_gates ul {
  margin: 0 0 0 15px;
}

/**
  bootstrap notifications
**/

.notifications {
  position: fixed;
  z-index: 1060;
}

/* Positioning */
.notifications.top-right {
  right: 10px;
  top: 25px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.top-center{
  width: 600px;
  left: 50%;
  top: 10px;
  margin-left: -300px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  z-index: 9999;
  margin: 5px 0px;
}


/** side bar / form bar **/
.editor_field h4{
  padding: 1em;
  border-bottom: 1px solid #dedede;
  margin-bottom: 1em;
}
.table-condensed tr, .table-condensed td {
  padding: 1px 3px;
}
.controls .table-condensed {
  width:218px;
  border: 1px solid #ccc;
}
input.inplace, select.inplace{
  width: auto;
}
.table-condensed .inplace {
    max-width: 90px;
}
.modal-body form .buttons{
  display: none;  /** hide submit buttons in modal (modal footer bears the buttons) **/
}
.editor_field form .controls{
  margin-left: 70px;
  margin-top: 10px;
}


/**
graphs
**/
#graph {
  width: 100%;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1px;
}

.axis.noborder {
  stroke-width: 0px !important;
}


.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    visibility: hidden;
    margin-top: -1px;
    top: inherit;
    margin-top: -30px;
}

.dropdown-menu li:hover > .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

#scene_viewer b {
  width: 2em;
  font-family: monospace;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  font-weight: 900;
  border: 1px solid #ddd;
}
#scene_viewer b.active {
  border: 1px solid #e07b81;
}

#scene_viewer b.green {
  color: green;
}
#scene_viewer b.brown {
  color: brown;
}
#scene_viewer b.purple {
  color: purple;
}
#scene_viewer b.red {
  color: red;
}
#scene_viewer b.charcoal {
  color: #444444;
}
#scene_viewer b.navy {
  color: navy;
}
#scene_viewer b.white {
  color: white;
}


#scene_viewer b.com:after {
  content: "*";
}
#scene_viewer b.hor:after {
  content: "--"
}
#scene_viewer b.ver:after {
  content: "|";
}
#scene_viewer b.cir:after {
  content: "O";
}

.resizeHandle {
  display: inline-block;
  width: 100px;
  line-height: 3px;
  height: 3px;
  background: #bbb;
  cursor: n-resize;
}
.resizeHandle:hover {
  background:#ccc;
}
.seperator {
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
  padding: 0;
  line-height: 3px;
}
.exception {
  word-break: normal;
  word-wrap: normal;
  font-size: 10px;
  max-height: 500px;
  overflow: auto;
}

.monospace{
    font-family: monospace;
}

label input[type="radio"], label input[type="checkbox"] {
  vertical-align: text-top;
  margin-right: .5em;
}
label.inline {
  display: inline-block;
}

.section .form-horizontal input[type="checkbox"] {
  margin-bottom: 5px;
}

.dropdown li.disabled {
  background: transparent;
}
.dropdown li.disabled:hover {
  background: transparent;
  cursor: default;
}
.dropdown li.disabled a, .dropdown li.disabled a:hover {
  color: #999;
  cursor: default;
  background-color: transparent;
}


div.modulators_container{
  max-height: 200px;
  overflow-y: auto;
  padding: 10px;
}

table.modulators button { visibility: hidden;}

table.modulators tr:hover button { visibility: visible;}

table.emoexpression td {
  padding: 4px 10px;
}

#face_viewer .slider.slider-horizontal .slider-selection,
  #face_viewer .slider.slider-horizontal .slider-track-low,
  #face_viewer .slider.slider-horizontal .slider-track-high {
  background-color: #bbb;
  background-image: none;
}

#face_viewer .slider-handle.circle {
  width: 13px;
  height: 13px;
  margin-top: -2px;
}
#face_viewer .slider-handle.triangle {
  margin-top: 3px;
  border-width: 0px 5px 9px;
  margin-left: -5px;
}

#face_viewer .slider-track {
  height: 7px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset
}

#loading.modal {
  position: fixed;
  top: 10px !important;
  z-index: 1200;
  display: none;
}
#loading.modal p {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.modal {
  top: 100px !important;
}

#calculation_controls{
  margin-right: 20px;
}

#calculation_controls .step_counters {
  font-size: 8px;
  line-height: 9px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 1px;
  border-right: 1px solid #333;
}

.btn-group .btn.separated {
  border-right: 1px solid #333;
  margin-right: 1px;
}
#calculation_controls .btn-expand {
  font-size: 8px;
  padding-left: 1px;
  padding-right: 1px;
  border-left: 0;
  color: #333;
}

.running_indicator {
  font-size: 8px !important;
  line-height: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 18px
}
.running_icon {
  float: left;
}
.runner_paused {
  opacity: 0.6;
}

.running_text > span {
  display: block;
  padding-left: 20px;
  font-weight: bold;
}
.navbar .btn.disabled {
  background-color: #e0e0e0;
  opacity: 1;
}

#copy_paste_text {
  width: 100%;
  min-height: 250px;
}

.layoutbtn {
  width: 30px;
  height: 30px;
  font-size: 27px;
  text-align: left;
  padding-left: 6px;
}

.color-chooser .input-group-addon i{
  display: inline-block;
  width: 220px !important;
  height: 20px !important;
  vertical-align: middle;

}
.color-chooser input {
  display: none;
}

p.clear {
  clear: both;
  padding:0;
  margin:0;
}

.left {
  float: left;
}
.right{
  float:right;
}
.dashboard-item {}
.dashboard-section {
  margin: 5px;
  padding: 5px;
  border: 3px solid #ccc;
  background: white;
  min-height: 240px;
  min-width: 300px;
}
.dashboard-section.single{
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
}

.dashboard-table {
  margin: 20px;
  border: 1px solid #999;
}
.dashboard-table.wide {
  min-width: 400px;
}
.dashboard-table th {
  margin-top: 1em;
  text-align: left;
  padding: 4px 10px;
}
.dashboard-table td {
  padding-left: 1em;
  padding: 4px 20px;
}
.dashboard-table td .mini {
  font-size: 10px;
  line-height: 10px;
  display:block;
}

.mark_red {
  background-color: #cc3333;
}
.mark_green {
  background-color: #33cc33;
}

.arrow.arrow_left {
  width: 10px;
  height: 248px;
  margin: 5px;
  background: url('../img/arrow_left_grey.png');
  background-position: center;
  background-repeat: no-repeat;
}
.arrow.arrow_left.green {
  background-image: url('../img/arrow_left_green.png');
}
.arrow.arrow_left.red {
  background-image: url('../img/arrow_left_red.png');
}

.dashboard-headline {
  margin: 10px 0 0 10px;
}
.dashboard-section p {
  margin: 10px 0 0 10px;
}

#dashboard_protocols{
  max-width: 100%;
  overflow: auto;
}
.linkweight-container {
  border: 1px solid black;
  border-left: 0 none;
  border-right: 0 none;
  display: inline-block;
  padding-bottom: 0;
  height: 15px;
  white-space: nowrap;
}
.linkweight-tick {
  display: inline-block;
  width:1px;
  background-color: black;
  height: 15px;
}

.docstring {
  white-space: pre-line;
}

.hint.small {
  font-size: 0.9em;
}
.hint.xsmall {
  font-size: 0.8em;
}

table th {
  text-align: left;
}

#timeseries_controls .slider.slider-horizontal {
  width: 100% !important;
}
#timeseries_controls .tooltip.top {
  opacity: 0.8;
}


/* status logger */


#status_table{
  width: 100%;
}
.status_indicator {
  margin:10px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #333;
}

#status_table .inactive {
  background: gray;
}

#status_table .active {
  background: #090;
  animation: colorchange_success 4.5s infinite;
  -webkit-animation: colorchange_success 4.5s infinite;
}

@keyframes colorchange_success{
  0%  {background: #0d0;}
  50%  {background: #393;}
  100%  {background: #0d0;}
}
@webkit-keyframes colorchange_success{
  0%  {background: #0d0;}
  50%  {background: #393;}
  100%  {background: #0d0;}
}

#status_table .success {
  background: #0d0;
}

#status_table .failure {
  background: #b00;
}



